server:
  port: 83
spring:
  application:
    name: nacos-consumer
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

#自定义配置 消费者将要去访问的服务名称
service-url:
  nacos-user-service: http://nacos-provider